@import "~styles/vars";

.reset-link() {
  display: block;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.place-lists {
  .card-container();

  .place-list {
    .reset-link();

    margin: 0 10px;
    margin-bottom: 12px;

    .card();

    img {
      width: 100%;
      object-fit: cover;
    }

    &--content {
      padding: 4px 8px;
      padding-bottom: 12px;

      h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }
      h3 {
        margin: 0;
        font-size: 12px;
        color: lighten(black, 30%);
        font-weight: normal;
        margin-bottom: 6px;
      }
      p {
        margin: 0;
      }
    }
  }
}
