@box-shadow-color: lighten(black, 95%);
@border-radius: 6px;
@header-margin-bottom: 16px;
@header-height: 40px;
@horizontal-margin: 16px;
@place-box-shadow-color: darken(@box-shadow-color, 4%);
@card-shadow: 0 1px 3px 0 @place-box-shadow-color;
@selected-card-shadow: 0 1px 5px 0 darken(@place-box-shadow-color, 10%);

.card-container() {
  display: flex;
  list-style: none;
}

.card() {
  width: 300px;
  border-radius: @border-radius;
  box-shadow: @card-shadow;
  flex-shrink: 0;
  transition: 0.2s ease box-shadow;
  position: relative;
  overflow: hidden;
}

.card-content() {
  padding: 4px 8px;
  padding-bottom: 8px;

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
  h3 {
    margin: 0;
    font-size: 12px;
    color: lighten(black, 30%);
    font-weight: normal;
    margin-bottom: 6px;
  }
  p {
    margin: 0;
  }
}
