@import "~styles/vars";

.map {
  flex: 1;
  overflow: hidden;
  border-radius: @border-radius;

  // hide div coming from Google LoadScript component
  > div:first-child {
    display: none;
  }

  > div:nth-child(2) {
    width: 100%;
    height: 100%;
  }
}
