@import "~styles/vars";

.map {
  flex: 1;
  overflow: hidden;
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
  margin-top: @header-margin-bottom;

  > div:first-child {
    width: 100%;
    height: 100%;
  }
}
