@import "~styles/vars";

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

main {
  @offset: @header-height;

  height: calc(100vh - @offset);
  display: flex;
  padding: 0 @horizontal-margin;
  overflow: hidden;
}
